<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Registered</title>
    </head>
    <body>
        <h1>User details</h1>
        <p> First Name : {{ form_data['first_name'] }} </p>
        <p> Last Name : {{ form_data['last_name'] }}</p>
        <p> Email :  {{ form_data['email'] }}</p>
        <p> Password : {{ form_data['password'] }}</p>
        <p> Confrim Password : {{ form_data['confirm_password'] }}</p>




        <!-- <p> First Name : {{ f_name }} </p>
        <p> Last Name : {{ last_name }}</p>
        <p> Email :  {{ email }}</p>
        <p> Password : {{ password }}</p>
        <p> Confrim Password : {{ confirm_password }}</p> -->
    </body>
</html>