<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href=" {{ url_for('static',filename='css/weather.css') }} ">
    </head>
    <body>
      <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            {% if is_authenticated  %}
                 <li class="nav-item"><a href="/dashboard" class="nav-link link-body-emphasis px-2 active" aria-current="page">Dashboard</a></li>
                <li class="nav-item"><a href="/quiz-app" class="nav-link link-body-emphasis px-2 active" aria-current="page">Quiz App</a></li>
                <li class="nav-item"><a href="/todo-app" class="nav-link link-body-emphasis px-2 active" aria-current="page">Todo App</a></li>
                <li class="nav-item"><a href="/weather-app" class="nav-link link-body-emphasis px-2 active" aria-current="page">Weather App</a></li>
            {% endif %}
          </ul>
          <ul class="nav">
            {% if not is_authenticated  %}
                <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
                <li class="nav-item"><a href="/signup" class="nav-link link-body-emphasis px-2">Sign up</a></li>
            {% else %}
                <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis px-2">Logout</a></li>
            {% endif %}
        </ul>
        </div>
      </nav>
          <div class="parent">
            <div class="container-body">
              <h1>Weather App</h1>
              <form id="form">
                  <input type="text" name="city_name" id="city_name" placeholder="Enter City Name">
              </form>
              <div id="dashboard">
                  <p id="date" ></p>
                  <p id="loc"></p>
                  <p id="temp"></p>
                  <p id="feels_like_temp"></p>
                  <p id="humidity"></p>
                  <p id="pressure"></p>
              </div>
          </div>
          </div>
          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='js/weather.js') }}"> </script>
    </body>
</html>