body {
    background-color: #1DBF73;
}

.parent {
    display: flex;
    justify-content: center;
}

.container-body {
    background-color: #fff;
    width: 50vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

#city_name {
    width: 40vw;
    padding: 20px;
    border: 2px solid #1DBF73;
    border-radius: 5px;
}

#dashboard {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#date {
    color: #1DBF73;
}

.container-body h1 {
    color: #1DBF73;
}

a {
    color: #FFF;
}

a:hover {
    color: #FFF;
}