.container {
    display: flex;
    flex-wrap: wrap ;
    background-color: aqua;
    height: 500px;
    /* align-items:flex-end; */
    /* align-items:center; */

    /* align-content: center; */
    /* align-content:flex-end; */
    /* align-content:flex-start; */
    /* align-content: space-between; */
    /* align-content:space-around; */
    /* align-content:space-evenly; */
}

.item {
    border:  1px solid black;
    /* height: 100px; */
    width: 100px;
    font-size: 20px;
    color: #fff;
}

.container1 {
    display: flex;
    background-color: blueviolet;
}

.container2 {
    display: flex;
    background-color: aquamarine;
    height: 200px;
}

/* .container4 {
    background-color:bisque;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-rows: 100px;
} */