<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
        <title>Home</title>
    </head>
    <body>
        <h1>HOme page</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eligendi, hic nam, provident non reiciendis cumque unde voluptatibus, rerum quibusdam aperiam odit saepe neque at suscipit magni dolores. Eveniet, possimus.
    </body>
</html>