<div class="me-4">
    <div class="fw-bold subheading"><a href="">Manage My Account</a></div>   
    <div class="ms-5 me-5 mt-4 sidenav">
        <li class="my-1 "><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
        <li class="my-1"><a href="#">Change Password</a></li>
    </div>

    <div class="fw-bold mt-4 subheading"><a href="">My Orders</a></div>   
    <div class="ms-5 me-5 mt-4 sidenav">
        <li class="my-1 "><a href="">Orders</a></li>
    </div>

    <!-- <div class="fw-bold mt-4 subheading"><a href="">My Wishlist</a></div>   
    <div class="ms-5 me-5 mt-4 sidenav">
        <li class="my-1 "><a href=""> </a></li>
        <li class="my-1"><a href=""> </a></li>
    </div> -->
</div>